<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppArel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>126808541E43EB9800B34FAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1268086A1E43EB9900B34FAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>126808751E43EB9900B34FAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
